.sg-nav {
  &__list {
    background: $color-white;
    border-bottom: $sg-menu-border;
    list-style-type: none;
    margin: 0;
    max-height: 13em;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 100%;

    @media (min-width: map-get($bp, 'md')) {
      border-bottom: 0;
      height: calc(100% - 9.8em);
      max-height: none;
    }
  }

  &__link {
    border-left: $sg-nav-border-width $border-style $sg-nav-border-color;
    color: $sg-nav-color;
    display: block;
    font-size: .75em;
    line-height: $line-height;
    padding: $spacing-vertical-sm $spacing-horizontal $spacing-vertical-sm ($spacing-horizontal - $sg-nav-border-width);
    text-decoration: none;
    transition: background 400ms;

    &:hover {
      background: $sg-nav-background-hover;
    }

    &--active {
      background: $sg-nav-background-active;
      color: $sg-nav-color-active;
    }
  }
}
