{% from "styleguide::components/utils/component.twig" import component %}

{% extends "styleguide::layouts/base.twig" %}

{% block sg_base_content %}
  <header role="mast-head" class="sg-header">
    {{ component('molecules/sg-menu', site, 'styleguide') }}
  </header>

  {% block sg_site_content %}
    <main role="main" class="sg-main">
      {% block sg_content %}
        Sorry, no content
      {% endblock %}
    </main>
  {% endblock %}
{% endblock %}
