{% from "styleguide::components/utils/component.twig" import component %}

<div class="sg-menu">
  <div class="sg-menu__logo"><a class="sg-menu__link" href="/">{{ name }}</a></div>

  <nav role="navigation">
    {{ component('molecules/sg-tabs', {tabs: tabs}, 'styleguide') }}
  </nav>
</div>
