<header class="sg-page-header">
  <a href="{{ isolatedLink }}" class="sg-page-header__link">Open isolated</a>
  <h2 class="sg-page-header__sub-heading">{{ sub_heading }}</h2>
  <h1 class="sg-page-header__heading">{{ heading }}</h1>
</header>
