{% from "styleguide::components/utils/component.twig" import component %}

{% extends "styleguide::layouts/site.twig" %}

{% block sg_content %}
  <div class="sg-section sg-section--docs">
    {{ component('molecules/sg-text', data, 'styleguide') }}
  </div>
{% endblock %}
