.sg-variant {
  color: $body-color;
  overflow: auto;

  + .sg-variant {
    margin-top: $spacing-vertical-lg;
  }

  &__heading {
    color: $heading-color;
    float: left;
    font-family: $heading-font-family;
    font-size: 1.25em;
    font-weight: $heading-font-weight;
    margin: 0 0 $spacing-vertical;
    text-transform: capitalize;
  }

  &__isolated-link {
    color: inherit;
    display: none;
    float: right;
    font-size: .9em;
    text-decoration: none;

    &::after {
      content: '\2192';
    }
  }

  &:hover {
    .sg-variant__isolated-link {
      display: block;
    }

    .sg-variant__isolated-link--hide {
      display: none;
    }
  }

  &__error {
    background: $sg-variant-error-background;
    font-family: $body-font-family;
    padding: $spacing-vertical $spacing-horizontal;

    &-title {
      font-family: $heading-font-family;
      font-size: 1em;
      font-weight: $heading-font-weight;
      line-height: $line-height;
      margin: 0;
      padding: 0;
    }

    &-text {
      line-height: $line-height;
      margin: 0 0 $spacing-vertical;
      padding: 0;
    }

    &-list {
      margin: $spacing-vertical 0 0;
      padding: 0 0 0 $spacing-horizontal;
    }

    &-item {
      + .sg-variant__error-item {
        margin-top: $spacing-vertical-sm;
      }

      &-title {
        font-family: $heading-font-family;
        font-size: 1em;
        font-weight: $heading-font-weight;
        line-height: $line-height;
        margin: 0;
        padding: 0;
      }

      &-text {
        line-height: $line-height;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__component {
    background: $sg-variant-background;
    border: $sg-variant-border;
    overflow: hidden;
    padding: $spacing-vertical-lg $spacing-horizontal-lg;
    width: 100%;

    iframe {
      border: 0;
      width: 100%;
    }
  }

  &__code {
    border: $sg-variant-border;
    display: none;

    &--active {
      display: block;
    }

    pre {
      margin: 0;
    }

    .hljs {
      padding: $spacing-vertical-lg $spacing-horizontal-lg;
    }
  }

  &__isolated,
  &__trigger {
    color: inherit;
    display: block;
    float: right;
    margin-right: $spacing-horizontal-sm;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
    text-decoration: none;
  }
}
